{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 31.9486268,
    "longitude": 34.83084662897976,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "בית",
    "time_zone": "Asia/Jerusalem",
    "external_url": null,
    "internal_url": null,
    "currency": "ILS",
    "country": "IL",
    "language": "he"
  }
}